@tailwind base;
@tailwind components;
@tailwind utilities;

/* Drop a dafont font in /public/fonts/ArcadeCustom.ttf */
@font-face {
  font-family: "Dirty Brush";
  src: url("/fonts/DirtyBrush.ttf") format("truetype");
  font-display: swap;
}

html,
body {
  height: 100%;
}
